PORT=3002
NODE_ENV=development
MONGO_URI=mongodb://admin:mongo_secret@localhost:27017/orders_db?authSource=admin
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=super_secret_jwt_key_change_in_production_32chars
CACHE_TTL_SECONDS=300
